<div class="compare">
  <h1>ValYou Scores:</h1>
  <div class="container">
  <div class="left">
    <h3>https://website.com</h3>
      <div class="stack">
        <ul>
          <li>
            <div>
              <img src="assets/race.png" alt="Race" /><br />
              <h3>Race:</h3>
            </div>
            <div>
              <h1>100%</h1>
              <a onclick="showDialog(); clickTab('raceOpen');">Click to learn more</a>
            </div>
          </li>
          <li>
            <div>
              <img src="assets/gender.png" alt="Gender" /><br />
              <h3>Gender:</h3>
            </div>
            <div>
              <h1>100%</h1>
              <a onclick="showDialog(); clickTab('raceOpen');">Click to learn more</a>
            </div>
          </li>
          <li>
            <div>
              <img src="assets/age.png" alt="Age" /><br />
              <h3>Age:</h3>
            </div>
            <div>
              <h1>100%</h1>
              <a onclick="showDialog(); clickTab('raceOpen');">Click to learn more</a>
            </div>
          </li>
        </ul>
      </div>
  </div>
<div class="right">
  <h3>https://secondwebsite.com</h3>
    <div class="stack">
      <ul>
        <li>
          <div>
            <img src="assets/race.png" alt="Race" /><br />
            <h3>Race:</h3>
          </div>
          <div>
            <h1>75%</h1>
            <a onclick="showDialog2(); clickTab2('raceOpen2');">Click to learn more</a>
          </div>
        </li>
        <li>
          <div>
            <img src="assets/gender.png" alt="Gender" /><br />
            <h3>Gender:</h3>
          </div>
          <div>
            <h1>75%</h1>
            <a onclick="showDialog2(); clickTab2('raceOpen2');">Click to learn more</a>
          </div>
        </li>
        <li>
          <div>
            <img src="assets/age.png" alt="Age" /><br />
            <h3>Age:</h3>
          </div>
          <div>
            <h1>75%</h1>
            <a onclick="showDialog2(); clickTab2('raceOpen2');">Click to learn more</a>
          </div>
        </li>
      </ul>
    </div>
</div>
</div>
<button class="button" onclick="location.href='index.html'">Start Over</button>
</div>

<!--- First pop Up Box starts here (for website on left) -->
<div id="loginwrap" style="display: none;">
  <div id="dialog">
    <div class="login">
      <div class="tabbed">
      <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'race')" id="raceOpen">Race</button>
        <button class="tablinks" onclick="openTab(event, 'gender')" id="genderOpen">Gender</button>
        <button class="tablinks" onclick="openTab(event, 'age')" id="ageOpen">Age</button>
        <button class="tablinks last" onclick="hideDialog()">Close</button>
      </div>
      <div id="race" class="tabcontent">
        <h3>Race Stats</h3>
        <p>Black or African American: 25%</p>
        <p>American Indian or Alaska Native: 25%</p>
        <p>Asian: 25%</p>
        <p>Hispanic/Latino/Spanish Origin: 25%</p>
        <p>Native Hawaiin or Pacific Islander: 25%</p>
        <p>Middle Eastern or North African</p>
        <p>White: 25%</p>
      </div>
      <div id="gender" class="tabcontent">
        <h3>Gender Stats</h3>
        <p>Males: 25%</p>
        <p>Females: 25%</p>
      </div>
      <div id="age" class="tabcontent">
        <h3>Age Stats</h3>
        <p>21 and under: 25%</p>
        <p>22 to 34: 25%</p>
        <p>35 to 44: 25%</p>
        <p>45 to 54: 25%</p>
        <p>55 to 64: 25%</p>
        <p>65 and over: 25%</p>
      </div>
    </div>
    </div>
  </div>
  <div id="black" onclick="hideDialog()"></div>
  </div>
  <!--- Second pop Up Box starts here (for website on right) -->
  <div id="loginwrap2" style="display: none;">
    <div id="dialog2">
      <div class="login">
        <div class="tabbed">
        <div class="tab">
          <button class="tablinks" onclick="openTab2(event, 'race2')" id="raceOpen2">Race</button>
          <button class="tablinks" onclick="openTab2(event, 'gender2')" id="genderOpen2">Gender</button>
          <button class="tablinks" onclick="openTab2(event, 'age2')" id="ageOpen2">Age</button>
          <button class="tablinks" style="float: right;" onclick="hideDialog2()">Close</button>
        </div>
        <div id="race2" class="tabcontent">
          <h3>Race Stats 2</h3>
          <p>Black or African American: 25%</p>
          <p>American Indian or Alaska Native: 25%</p>
          <p>Asian: 25%</p>
          <p>Hispanic/Latino/Spanish Origin: 25%</p>
          <p>Native Hawaiin or Pacific Islander: 25%</p>
          <p>Middle Eastern or North African</p>
          <p>White: 25%</p>
        </div>
        <div id="gender2" class="tabcontent">
          <h3>Gender Stats 2</h3>
          <p>Males: 25%</p>
          <p>Females: 25%</p>
        </div>
        <div id="age2" class="tabcontent">
          <h3>Age Stats 2</h3>
          <p>21 and under: 25%</p>
          <p>22 to 34: 25%</p>
          <p>35 to 44: 25%</p>
          <p>45 to 54: 25%</p>
          <p>55 to 64: 25%</p>
          <p>65 and over: 25%</p>
        </div>
      </div>
      </div>
    </div>
    <div id="black2" onclick="hideDialog2()"></div>
    </div>
<div class="footer">
  <h1>ValYou</h1>
  <p>Made with ❤️ at HackGT 2018</p>
</div>
<script type="text/javascript">
  function showDialog() {
    document.getElementById("loginwrap").style.display = "block";
    document.getElementById("dialog").style.display = "block";
    document.getElementById("black").style.display = "block";
  }
  function hideDialog() {
    document.getElementById("loginwrap").style.display = "none";
    document.getElementById("dialog").style.display = "block";
    document.getElementById("black").style.display = "none";
  }

  function openTab(evt, action) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(action).style.display = "block";
    evt.currentTarget.className += " active";
  }

  function clickTab(clicked) {
    document.getElementById(clicked).click();
  }

  function showDialog2() {
    document.getElementById("loginwrap2").style.display = "block";
    document.getElementById("dialog2").style.display = "block";
    document.getElementById("black2").style.display = "block";
  }
  function hideDialog2() {
    document.getElementById("loginwrap2").style.display = "none";
    document.getElementById("dialog2").style.display = "block";
    document.getElementById("black2").style.display = "none";
  }

  function openTab2(evt, action) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(action).style.display = "block";
    evt.currentTarget.className += " active";
  }

  function clickTab2(clicked) {
    document.getElementById(clicked).click();
  }
</script>
